// Bootstrap
@import "bootstrap";

// Sticky footer styles
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

	.container-fluid .text-muted {
		margin: 20px 0;
	}
}

// Other stuff
#diceResult {
    margin: 15px 0;
}
#content {
	margin-top: -5px;
}

// Sidebar
.group {
	background: yellow;
	width: 200px;
	height: 500px;

	.subgroup {
		background: orange;
		width: 150px;
		height: 200px;
	}
}

// http://www.codingeverything.com/2014/02/BootstrapDocsSideBar.html
.bs-docs-sidebar {
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	/* hide all inactive nested list */
	.nav ul.nav {
		display: none;
	}

	/* show active nested list */
	.nav>.active>ul.nav {
		display: block;
	}

	/* all links */
	.nav>li>a {
		color: #999;
		padding: 4px 20px;
		font-size: 13px;
		font-weight: 400;
		// Transparent border
		border-left: 2px solid transparent;
	}

	/* nested links */
	.nav .nav>li>a {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 30px;
		font-size: 12px;
	}

	/* Active link */
	.nav>.active>a,
	.nav>li>a:hover,
	.nav>li>a:focus {
		color: #563d7c;
		text-decoration: none;
		background-color: transparent;
		border-left: 2px solid #563d7c;
	}

	/* active links */
	.nav>.active>a,
	.nav>.active:hover>a,
	.nav>.active:focus>a {
		font-weight: 700;
	}

	/* nested active links */
	.nav .nav>.active>a,
	.nav .nav>.active:hover>a,
	.nav .nav>.active:focus>a {
		font-weight: 500;
	}
}

#sidebar.affix {
	top: 20px;
}

@media screen and (max-width: 500px) {
	.bs-docs-sidebar {
		display: none;
	}
}


//@import "center";
//@import "navbar";
//@import "content";
